<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Spring Boot Zero - Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="/static_dashboard/css/styles.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bem-vindo Admin</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Realize o cadastro para ter acesso a dashboard de controle do sistema</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/admin/register/FicouBacana30dwiii">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign-up</button>
            </a>
        </div>
    </div>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/static_dashboard/js/scripts.js"></script>
</body>
</html>
